body {
    /* background: url(/assets/pexels-maria-isabella-bernotti-1049298.jpg) no-repeat center center fixed; */
    /* background-color: #3bf4fb; */
    background-color: #D7BCE8;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    min-height: 100%;
}  

header {
    background-color: #D7BCE8;
}

.navbar-brand img {
    height: 50px;
}


.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: lightcoral;
} 

.banner-container{
    background-image: url(/assets/pexels-ercan-şenkaya-15195270.jpg);
    min-height: 450px;
    min-width: 100%;
    /* min-height: 100%; */
    width: auto;
    height: auto;
    right: 0;
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.floor-banner-container{
    background-image: url(/assets/pexels-pixabay-271897.jpg);
    min-height: 350px;
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

main {
    margin-top: 70px;
}

.card {
    background-color: #73A6AD;
}

.modal-body, .modal-content {
    background-color: #FFF1D0;
}

.footer {
    margin-top: 50px;
    padding-block: .9rem;
}
  
.footer-nav a {
    text-decoration: none;
}

  .footer .copyright {
    font-size: 0.8rem;
}