body {
    /* background: url(/assets/pexels-maria-isabella-bernotti-1049298.jpg) no-repeat center center fixed; */
    /* background-color: #3bf4fb; */
    background-color: #037171;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    min-height: 100%;
}  

header {
    background-color: #037171;
}

/*  */
/* .nav-menu li {
    padding: 10px 2px;
    margin: 0px 10px;
} */

.nav-link{
    font-size: 1.2rem;
    font-weight: 600;
    /* color: #CCD6F6; */
} 

.nav-link {
    margin: 0 0;
    padding: 0;
    display: inline-block;
    position: relative;
    color: #0d0e0d;
}

.nav-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #0d0e0d;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
/*  */

.navbar-brand img {
    height: 50px;
}


.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: lightcoral;
} 

.banner-container{
    background-image: url(../assets/bedroom/pexels-malidate-van-833045.jpg);
    min-height: 450px;
    min-width: 100%;
    /* min-height: 100%; */
    width: auto;
    height: auto;
    right: 0;
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.floor-banner-container{
    background-image: url(../assets/bedroom/pexels-pixabay-276671.jpg);
    min-height: 350px;
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

main {
    margin-top: 70px;
}

/* this is to place the card img on the left, but not visually friendly in mobile devices */
/* .card{
   
    flex-direction: row;
} */

.carousel-control-next-icon,
.carousel-control-prev-icon /* , .carousel-indicators*/ { 
    filter: invert(100%);
}

.footer {
    margin-top: 50px;
    padding-block: .9rem;
}
  
.footer-nav a {
    text-decoration: none;
}

  .footer .copyright {
    font-size: 0.8rem;
}